# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Ignora todos os arquivos dentro da pasta 'input'
input/*

# Ignora todos os arquivos dentro da pasta 'output'
output/*
